

body{
    background-color:rgb(238, 255, 214);
    font-family:sans-serif;
    box-sizing:border-box;
}

h1{
    text-align:center;
    margin-top:50px;
    font-size:70px;
    border-bottom:10px solid black;
    padding-bottom: 50px;
}

.buttons{
    display:flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-shrink:0;
    gap: 10px
}

.texts{
    display:flex;
    justify-content: space-between;
    gap:20px;
}

.text{
    font-size:40px;
    text-align:center;
}

button{
    font-size:40px;
    border-radius:20px;
    background-color:aquamarine;
    transition: all .2s ease-in-out;
    
}

/*rock button */

.rock-button{
    transition:all ease-in-out .2s;
}

.rock-button:hover{
    transform: scale(1.1);
}

#rockBtn:hover{
    background: rgb(101, 202, 172);
}




img{
    width:200px;
    height:auto;
}

.reset{
    display:flex;
    justify-content: center;
}

/* sort out a way for button to grow slowly  */
/* find out how to add non distracting gap aswell   */